@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --chain-color: theme("colors.cw-purple-450") ;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: theme("fontFamily.inter");
  overflow-x: hidden;
}


html {
  color-scheme: dark;
}
body {
  color: theme("colors.cw-grey-100");
  background: theme("colors.cw-grey-850");
}

.react-json-view {
  background: theme("colors.cw-grey-900") !important;
  border-radius: 6px;
  padding: 1rem;
}

.react-json-view .object-key {
  color:theme("colors.cw-grey-100");
}

.react-json-view .icon-container {
  border: solid theme("colors.cw-grey-100") 1px;
  margin: 0 5px;
  border-radius: 4px;
  margin-bottom: -5px;
}

.react-json-view .icon-container svg {
  width: 16px !important;
  height: 16px !important;
}

.react-json-view .icon-container .collapsed-icon svg {
  width: 24px !important;
}

.react-json-view .icon-container svg path {
  fill: var(--chain-color) !important;
}

.react-json-view .data-type-label, .react-json-view
.string-value, .react-json-view .variable-value > *, .react-json-view .node-ellipsis {
  color:var(--chain-color) !important;
}
