@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("checkbox.css");

* {
  box-sizing: border-box;
}

:root {
  --chain-color: theme("colors.cw-purple-450");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: theme("fontFamily.inter");
  overflow-x: hidden;
}

html {
  color-scheme: dark;
}

body {
  color: theme("colors.cw-grey-100");
  background: theme("colors.cw-grey-850");
}

.react-json-view {
  background: theme("colors.cw-grey-900") !important;
  border-radius: 6px;
  padding: 1rem;
}

.react-json-view .object-key {
  color: theme("colors.cw-grey-100");
}

.react-json-view .icon-container {
  border: solid theme("colors.cw-grey-100") 1px;
  margin: 0 5px;
  border-radius: 4px;
  margin-bottom: -5px;
}

.react-json-view .icon-container svg {
  width: 16px !important;
  height: 16px !important;
}

.react-json-view .icon-container .collapsed-icon svg {
  width: 24px !important;
}

.react-json-view .icon-container svg path {
  fill: var(--chain-color) !important;
}

.react-json-view .data-type-label,
.react-json-view .string-value,
.react-json-view .variable-value>*,
.react-json-view .node-ellipsis {
  color: var(--chain-color) !important;
}

.loader {
  position: relative;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px linear#444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px linear#444;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
}

.loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}